html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #0b2944;
  font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  min-height: 100vh;
  line-height: 1.5;
}

/*page wrap excl footer */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(
    100vh - 100px
  ); /* set a minimum height minus the footer height */
  padding-bottom: 100px; /* Ensure there's enough space at the bottom for the footer */
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
}

.weather-logo {
  width: 30%;
}

.wg-logo {
  width: 80%;
}

.bloglink {
  width: 100%;
  background-color: rgb(60, 201, 60);
  font-size: 1rem !important;
  padding: 1px;
  text-decoration: underline;
}

.mapAndSearchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.weatherSearch {
  width: 96vw;
  height: 25vh;
  display: flex;
  padding: 10px;
}

/*hover over cloud image */
#searchCurrentLocation {
  position: relative;
  width: 150px;
  height: 150px;
}

.current-location-img,
.current-location-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 0.3s ease;
}

.current-location-img-hover {
  opacity: 0; /* Initially hide the hover image */
}

#searchCurrentLocation:hover .current-location-img {
  opacity: 0; /* Hide the normal image on hover */
}

#searchCurrentLocation:hover .current-location-img-hover {
  opacity: 1; /* Show the hover image on hover */
}

#searchBox {
  height: 4rem;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
}

/* dropdown box (hidden by default) */
#placeList {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  transition: transform 0.3s ease;
  width: 225px;
  border-radius: 10px;
  z-index: 20;
  background-color: rgb(255, 255, 255, 1);
  color: #333333;
}

/* dropdown transition for smooth sliding down */
#placeList.show {
  display: block;
  transition: max-height 0.3s ease;
}

#placeList li {
  padding: 5px;
  /* margin: 5px 5px 0 5px; */
}

#placeList li:hover {
  background-color: #eb6e4b;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}

#searchCurrentLocation {
  cursor: pointer;
}

#showError {
  margin: auto;
  font-size: 1.6rem;
  color: rgb(248, 248, 163);
  padding: 10px;
}

.mapSection {
  margin-top: 10px;
}

#map {
  border-radius: 10px;
  max-height: 30vh;
  margin: auto;
}

/* #mapSection iframe {
  border-radius: 10px;
  margin-top: 20px;
  max-height: 30vh;
} */

#resultsContent {
  display: none;
  text-align: center;
  margin: auto;
  width: 96vw;
}

#location {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
  background-color: #1592b8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* today starts here */
.todayCard {
  display: flex;
  flex-direction: column;
  background-color: #1592b8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 10px;
  align-items: center;
}
.todayContainer {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
}

#currentLocalTime {
  font-weight: 700;
  color: #ff4912;
}

.day0Data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.day0Time {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  color: #000;
}

.day0DataCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forecastDay0,
#forecastTemp0 {
  font-size: 3rem;
}

.forecast3Hours {
  display: flex;
}

.smallCard {
  align-items: center;
  justify-content: center;
  background-color: #80cdee;
  padding: 10px;
  color: rgb(34, 23, 23);
  border-radius: 10px;
  margin: 1px;
}

/* rest of week starts here */
.restOfWeek {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.rowCardContainer {
  display: flex;
  flex-direction: column;
  background-color: #80cdee;
  margin-top: 20px;
  border-radius: 10px;
  border: 4px solid #fff;
  align-items: center;
}

.ROWData {
  display: flex;
}

/* first time section on each card */
.card {
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

#forecastDesc0 {
  color: #160ab9;
  font-weight: 700;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-block-start: 3rem;
}

.smallCardROW {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.date,
.day0HideFirst {
  display: none;
}

.smallCardROW img {
  width: 70%;
}

.smallCardROWData {
  width: 70%;
}

#footer {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #0b2944;
  font-size: 1.5rem;
}

/* Smallest Screens (Mobile) */
@media screen and (max-width: 400px) {
  #searchCriteria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
    align-items: center;
  }

  #searchCurrentLocation {
    margin-bottom: 30px;
  }
}

/* Small Screens (Mobile) */
@media (min-width: 401px) and (max-width: 576px) {
  .weather-logo {
    width: 40%;
  }

  .wg-logo {
    width: 100%;
  }

  .weatherSearch > *:first-child {
    flex: 1;
  }

  .weatherSearch > *:last-child {
    flex: 2;
  }
}

/* Medium Screens (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .weatherSearch > *:first-child {
    flex: 1;
  }

  .weatherSearch > *:last-child {
    flex: 2;
  }

  #map {
    min-height: 40vh;
    min-width: 60vw;
  }

  .mapSection {
    min-height: 40vh;
    min-width: 60vw;
  }
}

@media (min-width: 769px) and (max-width: 820px) {
  .mapAndSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
  }

  .weatherSearch {
    width: 35vw;
    height: 50vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  #map {
    min-height: 40vh;
    min-width: 60vw;
  }

  .mapSection {
    min-height: 40vh;
    min-width: 60vw;
  }

  .todayContainer {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 821px) and (max-width: 993px) {
  .weather-logo {
    width: 25%;
  }

  .mapAndSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherSearch {
    width: 35vw;
    height: 50vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  #map {
    min-height: 40vh;
    min-width: 60vw;
  }

  .mapSection {
    min-height: 40vh;
    min-width: 60vw;
  }

  .todayContainer {
    display: flex;
    flex-direction: row;
  }

  .restOfWeek {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 994px) {
  .content {
    display: block;
  }

  .weather-logo {
    width: 20%;
  }

  .mapAndSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherSearch {
    width: 35vw;
    height: 50vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  #map {
    min-height: 40vh;
    min-width: 60vw;
    margin-left: 20px;
  }

  .mapSection {
    min-height: 50vh;
    min-width: 65vw;
  }

  .mapSection iframe {
    min-height: 50vh;
    min-width: 65vw;
    margin-left: 20px;
  }

  #day0 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }

  .restOfWeek {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  #location {
    font-size: 3.5rem;
  }
}
